@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,500&display=swap');
body .container{
  display: block;
  width: 960px;
  margin: 0 auto;
}

nav{
  list-style: none;
  font-family: 'Work Sans', sans-serif;
  font-size: 33px;
  font-weight: 500;
  margin: 0;
  padding: 0;
  text-align: center;
  z-index: 9999;
}

.nav li{
  display: inline;
}

.nav a {
  display: inline-block;
  padding: 100px 100px;
  text-decoration: none;
  color: black;
}

.logo {
  display: block;
  width: 300px;
  height: auto;
}

body h1 {
  font-family: 'Work Sans', sans-serif;
  font-size: 50px;
}

p, .list {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  justify-content: center;
}

h2 {
  font-family: 'Work Sans', sans-serif;
  font-size: 45px;
}